<footer class="container  px-40 px-lg-12 py-40 py-lg-48">
    <div class="row row-cols-1 row-cols-lg-3  align-items-center g-0">
        <div class="col">
            <a class="ff-Shrikhand fs-32" href="index.html">ALPHABOX+</a>
            <p class="fw-bold d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div class="col text-lg-center">
            <span class="material-symbols-outlined pt-18 pt-lg-0 fs-60">
                emergency
            </span>
        </div>
        <div class="col">
            <ul class="nav flex-column flex-lg-row justify-content-end">
                <li class="nav-item">
                    <a class="nav-link fw-bold p-0 ps-lg-24 pt-18 pt-lg-0" aria-current="page" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p-0 ps-lg-24 pt-8 pt-lg-0" href="#">產品資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p-0 ps-lg-24 pt-8 pt-lg-0" href="#">常見問題</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p-0 ps-lg-24 pt-8 pt-lg-0">隱私政策</a>
                </li>
                <li class="nav-item d-block d-lg-none">
                    <p class="fw-bold p-0 pt-8 pt-lg-0">Copyright © 2023 Hexschool.</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../assets/scss/vendors/slick/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>