<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-4 p-0 border-bottom">
        <div class="container">

            <a class="navbar-brand ff-Shrikhand d-block d-lg-none py-16" href="index.html">
                <h1 class="fs-32 fs-sm-24">ALPHABOX+</h1>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between bg-linear-1 collapse1 py-28 py-lg-0"
                id="navbarSupportedContent">
                <a class="navbar-brand ff-Shrikhand d-none d-lg-block py-16" href="index.html">
                    <h1 class="fs-32 fs-sm-24">ALPHABOX+</h1>
                </a>

                <ul class="navbar-nav flex-column flex-lg-row justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link px-0 px-lg-20" href="#">產品</a>
                    </li>
                    <li class="nav-item pt-4 pt-lg-0">
                        <a class="nav-link px-0 px-lg-20" href="about.html">關於我們</a>
                    </li>
                    <li class="nav-item pt-4 pt-lg-0">
                        <a class="nav-link px-0 px-lg-20" href="#">最新消息</a>
                    </li>
                    <li class="nav-item pt-4 pt-lg-0">
                        <a class="nav-link px-0 px-lg-20" href="#">FAQ</a>
                    </li>
                    <li class="nav-item pt-4 pt-lg-0">
                        <a class="nav-link px-0 px-lg-20" href="#">聯絡我們</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-column flex-lg-row justify-content-end align-items-center">
                    <li class="nav-item mt-4 mt-lg-0">
                        <a class="nav-link px-0 px-lg-12" href="#">註冊</a>
                    </li>
                    <li class="nav-item mt-4 mt-lg-0">
                        <a class="nav-link  px-0 ps-lg-12 pe-lg-32" href="#">登入</a>
                    </li>
                    <li class="nav-item mt-4 mt-lg-0">
                        <a class="nav-link btn btn-white px-16 text-black border-0 rounded-1" href="#"><i
                                class="material-symbols-outlined align-bottom pe-4">point_scan</i>訂閱</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>