@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400;500;700;900&family=Saira+Extra+Condensed:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import "../../node_modules/bootstrap/scss/functions";
@import "../scss/vendors/slick/slick";
@import "../scss/vendors/slick/slick-theme";

@import './utils/variables';
@import './utils/variables1';
@import './utils/mixin';
@import "../../node_modules/bootstrap";
@import './base/base';
@import './utils/utilities';
@import './components/btn';
@import './components/scrollbar';

@import './layout/header';

@import './pages/index';
@import './pages/about';